li{
    border-right: 1px solid white ;
    border-radius: 3px;
    
}

a{
    color: white;
}

.logo{
    height: 78px !important;
}


.address{
    color: white;
    /* text-decoration: underline; */
    /* text-shadow: 1px 1px 3px black; */
}