.mint{
    color: white;
    background-color: #36AE7C;
    width: 150px;
    border-radius: 5px;
    height: 30px;
    margin-top: 3px;
    position: relative;
    right: 7px;
    font-size: medium;
    cursor: pointer;    
}

.mint:hover{
    background-color: #04afda;
}


